body {
  font-family: "Roboto";
  margin: 0;
  padding: 0;
}

.First {
  z-index: 6;
  background: red;
  width: 40%;
  float: left;
}
.Second {
  z-index: 6;
  background: blue;
  width: 50%;
  float: left;
}